body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Courier New";
    font-size: large;
    margin-top: 30px;
    background-color: rgba(240, 237, 230, 0.986)
}

h1 {
    font-weight: bolder;
    font-size: 60px;
    color: rgba(141, 123, 88, 0.678)
}

#app{
    width: 20%;
}

#divcontenido, input{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

divAbajo, .inputPrincipal {
    background-color: white;
    border-style:ridge;
}

button {
    border: none;
    background-color: white;
}





#divAbajo{
    display: flex;
    align-items: center;
    margin-bottom: '0';
}

.input-container {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .icon {
    display: none;
  }
  
  .input-container:hover .icon {
    display: inline;
    cursor: pointer;
  }
  
 